{% extends 'medecin/index.html.twig' %}
{% block content %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Récommendations</h1>
					</div>
					<div class="col-sm-6"></div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Liste de  recommendations</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Patient</th>
											<th>Recommender par</th>
                                            <th>Description</th>
										</tr>
									</thead>
									<tbody>
										{% for rec in recommendations %}
											<tr>
                                                 <td>{{ rec.patient.prenom }}   {{ rec.patient.nom }}</td>
                                                 <td>Dr . {{ rec.medecin.prenom }}   {{ rec.medecin.nom }}</td>
                                                 <td>{{ rec.description }}</td>
                                                 <td>
                                                    <a class="btn btn-info" href="{{ path('feeback', {"id": rec.recommendation_id}) }}"><i class="fas fa-comment"></i></a>
                                                 </td>
                                            </tr>
										{% endfor %}
									</tbody>

								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->


						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
{% endblock %}
