{% extends 'admin/index.html.twig' %}
{% block contenu %}
	<div class="card">
		<div class="card-header bg-primary text-white text-center">
			Gestion des adhérents
		</div>
		<div class="card-body">
			<h3 class="text-center bg-dark p-2 text-white">Liste des adhérents</h3>
			<div class="row">
				<div class="col">
					<form>
						<div class="form-group">
							<input class="form-control" type="text" name="chercher" placeholder="chercher adhérent par nom, prénom ..">
							<button class="btn btn-info mt-2">chercher</button>
						</div>
					</form>
				</div>
			</div>
			<table class="table table-hover">

				<thead>
					<tr>
						<th>
							Prénom
						</th>
						<th>
							Nom
						</th>
						<th>
							Téléphone
						</th>
						<th>
							Adresse
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					{% for coach in coachs %}
						<tr>
							<td>
								{{ coach.prenom }}
							</td>
							<td>
								{{ coach.nom }}
							</td>
							<td>
								{{ coach.telephone }}
							</td>
							<td>
								{{ coach.adresse }}
							</td>
							<td>
								<a href="{{ path('approuver_adherent', {'id': coach.id}) }}" class="btn btn-success">approver</a>
								<a href="{{ path('approuver_coach', {'id': coach.id}) }}" class="btn btn-danger">refuser</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
