{% extends 'proviseur/index.html.twig' %}

{% block dynamic %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des matiéres</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
              
        
                
              </div>
               
              <!-- /.card-header -->
              <div class="card-body">
                  {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endfor %}
<table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Classe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                
                <td>{{ matiere.libelle }}</td>
                <td><a href="{{ path('liste_matiere_par_classe', {"id":matiere.classe.id}) }}">{{ matiere.classe.niveau.niveau }} {{ matiere.classe.section.section }}</a></td>
                <td>
                  
                        {#  <a href="{{ path('archiver_eleve', {'id': eleve.id}) }}" class="btn btn-danger"><i class="fa fa-archive"></i></a>&nbsp;  #}
                    {#  #}<a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('archiver_matiere', {'id': matiere.id}) }}" class="btn btn-danger"><i class="fa fa-archive"></i></a>&nbsp; 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}