<div class="uni-medicare-header-main-home-3">
                    <div class="container">
                        <div class="uni-medicare-header-main">
                            <!--MENU TEXT-->
                            <div class="uni-main-menu">
                                <nav class="main-navigation uni-menu-text">
                                    <div class="cssmenu">
                                        <ul>
                                            <li class=""><a href="{{ path('app_site') }}">Accueil</a>
                                                
                                            </li>
                                            
                                            <li><a href="">Présentation</a></li>
                                            <li class=""><a href="{{ path('site_pharmacies') }}">Pharmacies</a>
                                               
                                            </li>
                                             <li class=""><a href="{{ path('site_laboratoires') }}">Laboratoires</a>
                                               
                                            </li>
                                             <li class=""><a href="{{ path('site_medecins') }}">Médecins</a>
                                               
                                            </li>
                                            <li class=""><a href="{{ path('site_imagerie_medicale') }}">Imagerie médicale</a>
                                               
                                            </li>
                                              <li class=""><a href="{{ path('app_register') }}">Inscription</a>
                                               
                                            </li>
                                              <li class=""><a href="{{ path('app_login') }}">Connexion</a>
                                               
                                            </li>
                                           
                                          
                                        </ul>
                                    </div>
                                </nav>
                            </div>

                            <!--SEARCH-->
                            <!--<div class="uni-search-yop-home-3">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="  search-query form-control" placeholder="Key Word ... " />
                                        <span class="input-group-btn">
                                        <button class="btn btn-search" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>-->

                            <!--SHORTCODE-->
                            <div class="show-hover-shortcodes animated">
                                <div class="short-code-title">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 1</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 2</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 3</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 4</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="short-code-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_01_buttons.html"><i class="fa fa-plus-square" aria-hidden="true"></i>Buttons</a></li>
                                                <li><a href="07_02_icons_box.html"><i class="fa fa-cube" aria-hidden="true"></i>Icon Box</a></li>
                                                <li><a href="07_03_progress.html"><i class="fa fa-tasks" aria-hidden="true"></i>Process Bar</a></li>
                                                <li><a href="07_04_tabs.html"><i class="fa fa-columns" aria-hidden="true"></i>Tabs</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_05_accordion.html"><i class="fa fa-list" aria-hidden="true"></i>Accordion</a></li>
                                                <li><a href="07_06_counter.html"><i class="fa fa-tachometer" aria-hidden="true"></i>Counter</a></li>
                                                <li><a href="07_07_testimonials.html"><i class="fa fa-comments-o" aria-hidden="true"></i>Testimonials</a></li>
                                                <li><a href="07_08_typography.html"><i class="fa fa-text-width" aria-hidden="true"></i>Typography</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_09_partner.html"><i class="fa fa-handshake-o" aria-hidden="true"></i> Partner</a></li>
                                                <li><a href="07_10_team.html"><i class="fa fa-users" aria-hidden="true"></i> Team</a></li>
                                                <li><a href="07_11_item_list.html"><i class="fa fa-list-ol" aria-hidden="true"></i> Item List</a></li>
                                                <li><a href="07_12_divider.html"><i class="fa fa-chain-broken" aria-hidden="true"></i>Dividers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_13_columns.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Columns</a></li>
                                                <li><a href="07_14_pricing_table.html"><i class="fa fa-address-card-o" aria-hidden="true"></i> Pricing table</a></li>
                                                <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404 Pages</a></li>
                                                <li><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i> Comming soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END SHORTCODE-->
                        </div>
                    </div>
                </div>