{% extends 'coach/index.html.twig' %}

{% block title %}Bienvenue !
{% endblock %}

{% block contenu %}
	<div class="card">
		<div class="card-header bg-primary text-white text-center">
			Gestion des réservations
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}

						<div class="card-body mt-2 bg-primary m-2 text-center text-center text-white">Liste de réservations</div>
						<div class="card-body">
						
							<table class="table">
								<thead>
									<tr>
										<th>Séance</th>
										<th>Adhérent</th>
										<th>Etat</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								{% for rsv in reservations %}
									<tr>
										<td>{{ rsv.seance.dateSeance | date('d-m-Y H:i') }}</td>
										<td>{{ rsv.adherent.nom}} {{ rsv.adherent.prenom}}</td>
										<td>{{ rsv.statut }}</td>
										
										<td>
											{% if rsv.statut == "en cours" %}
													<a href="{{ path('accepter_reservation',{'id':rsv.id}) }}" class="btn btn-sm btn-success">accepter</a>
													<a href="{{ path('annuler_reservation',{'id':rsv.id}) }}" class="btn btn-sm btn-danger">refuser</a>
											{% else %}
												<p>Réservation déjà acceptée</p>
											{% endif %}

										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
