{% extends 'admin/index.html.twig' %}

{% block title %}Gestion des recruteurs{% endblock %}

{% block main %}
     <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Gestion des demandeurs d'emploi</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active"><a class="btn btn-primary" href="{{ path('app_logout') }}">Déconnxion</a></li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Liste des demandeurs d'emploi</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                {% for message in app.flashes('info') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rec in utilisateurs %}
                      <tr>
                        <td>{{ rec.prenom }}</td>
                        <td>{{ rec.nom }}</td>
                        <td>{{ rec.numerotelephone }}
                        </td>
                        <td>
                          {% if rec.status is same as "en_attente" %}
                               <a href="{{ path('activer',{"user": rec.id})}}" class="btn btn-sm btn-success">confirmer</a>
                            <a href="{{ path('desactiver',{"user": rec.id})}}" class="btn btn-sm btn-danger">refuser</a>
                          {% elseif rec.status is same as "est_active" %}
                              <a href="{{ path('desactiver',{"user": rec.id})}}" class="btn btn-sm btn-danger">refuser</a>
                          {% else %}
                              <a href="{{ path('activer',{"user": rec.id})}}" class="btn btn-sm btn-success">confirmer</a>
                          {% endif %}  
                        </td>
                      </tr>
                      {% endfor %}
                      
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
{% endblock %}
