{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ utilisateur.cin }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ utilisateur.role }}</td>
            </tr>
            <tr>
                <th>NumeroTelephone</th>
                <td>{{ utilisateur.numeroTelephone }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ utilisateur.description }}</td>
            </tr>
            <tr>
                <th>EstActive</th>
                <td>{{ utilisateur.estActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PhotoUrl</th>
                <td>{{ utilisateur.photoUrl }}</td>
            </tr>
            <tr>
                <th>FichierUrl</th>
                <td>{{ utilisateur.fichierUrl }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ utilisateur.resume }}</td>
            </tr>
            <tr>
                <th>Experiences</th>
                <td>{{ utilisateur.experiences }}</td>
            </tr>
            <tr>
                <th>Competences</th>
                <td>{{ utilisateur.competences }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demandeurs_index') }}">back to list</a>

    <a href="{{ path('app_demandeurs_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('demandeurs/_delete_form.html.twig') }}
{% endblock %}
