{% extends 'patient/index.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des medecins</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des médecins</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Spécialité</th>
                    <th>Numéro Tél</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for doctor in medecins %}
                  <tr>
                    <td>{{ doctor.prenom }}</td>
                    <td>{{ doctor.nom }}</td>
                    <td>{{ doctor.specialite }}</td>
                    <td>{{ doctor.numeroTelephone }}</td>
                    <td>
                       
                        <a href="{{ path('patient_rdv_medecin', {"id": doctor.id}) }}" class="btn btn-success">rendez-vous</a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Spécialité</th>
                    <th>Numéro Tél</th>
                    <th>Actions</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}