<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_admin') }}">
		<div class="sidebar-brand-icon rotate-n-15"></div>
		<div class="sidebar-brand-text mx-3">Espace Coach</div>
	</a>

	<!-- Divider -->
	<hr
	class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="{{ path('app_coach') }}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Actualité</span>
		</a>
	</li>

	<!-- Divider -->
	<hr
	class="sidebar-divider">


	<!-- Heading -->
	<div class="sidebar-heading">
		Menu Principal
	</div>

	<!-- Nav Item - Pages Collapse Menu -->


	<!-- Nav Item - Charts -->


	.
	<li class="nav-item">
		<a class="nav-link" href="{{ path('gerer_seances') }}">
			<i class="fas fa-fw fa-table"></i>
			<span>Gestion Séances</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('gerer_reservations') }}">
			<i class="fas fa-fw fa-table"></i>
			<span>Gestion Réservations</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('gerer_tournoi') }}">
			<i class="fas fa-fw fa-table"></i>
			<span>Gestion Tournois</span>
		</a>
	</li>


	<!-- Divider -->
	<hr
	class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>


</ul>
