{% extends 'formateur_d/index.html.twig' %}

{% block title %}formation index{% endblock %}

{% block dynamic %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mes formations</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Programmer Séance pour formation: {{  formation.titre }} </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {{  form_start(form) }}

                {{ form_widget(form) }}
                <button class="btn btn-primary btn-sm btn-block mt-2">Programmer</button>
                {{ form_end(form) }}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
{% endblock %}


